header {
    padding-bottom: 0px;
    padding-top: 10px;
}
body{
    margin: 0;
    font-family: 'frank-ruhl-libre', georgia, serif

}
main {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
header {
    text-align: center;
}

nav {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 400;
}

nav h4 {
    margin-top: 5px;
    padding-top: 15px;
    vertical-align: middle;
    font-family: 'frank-ruhl-libre', georgia, serif;
    color: rgb(0 77 77);
    display: block;
    margin-bottom: 30;
    font-weight: normal;
    text-align: center;
    background-color: #a1a1041f;
    border-top: 2px solid rgba(255, 255, 0, 0.521);
    padding-bottom: 15px;
    margin-bottom: 25;
}
nav span {
    font-weight: bold;
}
article h2 {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
    color: 34 34 34;
    margin-top: 10;
}
h4 {
    vertical-align: middle;
}
h2 {
    font-family: 'frank-ruhl-libre', georgia, serif
}
p {
    text-align: center;
}
article img {
    border-radius: 2%;
    box-shadow: 2px 2px 4px #00000050;
}
main article .sotto{
    color: rgba(79, 79, 79, 0.362);
    font-size: 0.8em;
}
main div h4 {
    color: rgb(255, 94, 0);
    text-align: left;
    font-weight: normal;
    border-left: 2px solid rgba(255, 255, 0, 0.521) ;
    padding-left: 10px;
    margin-bottom: 80px;
}
.ingredienti  {
    text-align: left;
    font-weight: normal;
}
div .ingredienti {
    padding-top: 40;
}
ul li 
    { padding: 6px 0px;    
}
.ingredienti h4 {
    color: black;
    margin-bottom: 0;
    border-left: hidden;
}
.metod {
    color: black;
    margin-bottom: 0;
    border-left: hidden;
    font-size: 1.8em;
}
